In [36]:
import pandas as pd
from sklearn.preprocessing import Imputer, StandardScaler

In [14]:
df = pd.read_csv('./credit-data.csv')

In [3]:
df.head()

   clientid        income        age         loan  default
0         1  66155.925095  59.017015  8106.532131        0
1         2  34415.153966  48.117153  6564.745018        0
2         3  57317.170063  63.108049  8020.953296        0
3         4  42709.534201  45.751972  6103.642260        0
4         5  66952.688845  18.584336  8770.099235        1

In [5]:
df.describe()

          clientid        income          age          loan      default
count  2000.000000   2000.000000  1997.000000   2000.000000  2000.000000
mean   1000.500000  45331.600018    40.807559   4444.369695     0.141500
std     577.494589  14326.327119    13.624469   3045.410024     0.348624
min       1.000000  20014.489470   -52.423280      1.377630     0.000000
25%     500.750000  32796.459717    28.990415   1939.708847     0.000000
50%    1000.500000  45789.117313    41.317159   3974.719419     0.000000
75%    1500.250000  57791.281668    52.587040   6432.410625     0.000000
max    2000.000000  69995.685578    63.971796  13766.051239     1.000000

In [9]:
df.loc[df['age'] < 0]
# apaga toda a coluna.
# df.drop('age', 1, inplace=True)
# apagar somente registros com problema
df.drop(df[df.age < 0].index, inplace=True)
# preencher os valores manualmente
# preencher os valores com a média
df['age'][df.age > 0].mean()
df.loc[df.age < 0, 'age'] = 40.92

In [22]:
df.loc[df['age'] < 0]

Empty DataFrame
Columns: [clientid, income, age, loan, default]
Index: []

In [26]:
# pd.isnull(df)
df.loc[pd.isnull(df['age'])]

    clientid        income  age         loan  default
28        29  59417.805406  NaN  2082.625938        0
30        31  48528.852796  NaN  6155.784670        0
31        32  23526.302555  NaN  2862.010139        0

In [28]:
previsores = df.iloc[:, 1:4].values
previsores

array([[6.61559251e+04, 5.90170151e+01, 8.10653213e+03],
       [3.44151540e+04, 4.81171531e+01, 6.56474502e+03],
       [5.73171701e+04, 6.31080495e+01, 8.02095330e+03],
       ...,
       [4.43114493e+04, 2.80171669e+01, 5.52278669e+03],
       [4.37560566e+04, 6.39717958e+01, 1.62272260e+03],
       [6.94365796e+04, 5.61526170e+01, 7.37883360e+03]])

In [29]:
classe = df.iloc[:, 4].values
classe

array([0, 0, 0, ..., 1, 0, 0])

In [35]:
# Como tratar atributos com valores faltantes.
imputer = Imputer(missing_values='NaN', strategy='mean', axis=0)
imputer = imputer.fit(previsores[:, 0:3])
previsores[:, 0:3] = imputer.transform(previsores[:, 0:3])

previsores

array([[6.61559251e+04, 5.90170151e+01, 8.10653213e+03],
       [3.44151540e+04, 4.81171531e+01, 6.56474502e+03],
       [5.73171701e+04, 6.31080495e+01, 8.02095330e+03],
       ...,
       [4.43114493e+04, 2.80171669e+01, 5.52278669e+03],
       [4.37560566e+04, 6.39717958e+01, 1.62272260e+03],
       [6.94365796e+04, 5.61526170e+01, 7.37883360e+03]])

In [37]:
# Escalonamento de valores.
# Padronização ( Standardisation )
# x = (x - media(x))/desvio padrao(x)
scaler = StandardScaler()
previsores = scaler.fit_transform(previsores)
# Normalização ( Normalization )
# x = (x - minimo(x))/(maximo(x)-minimo(x))
# x = 20 (pessoa) | (20 - 10) / (60 - 10) | idade minima 10, idade maxima 60

In [38]:
previsores

array([[ 1.45393393,  1.36538093,  1.20281942],
       [-0.76217555,  0.5426602 ,  0.69642695],
       [ 0.83682073,  1.67417189,  1.17471147],
       ...,
       [-0.07122592, -0.97448519,  0.35420081],
       [-0.11000289,  1.73936739, -0.92675625],
       [ 1.682986  ,  1.14917639,  0.96381038]])